@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Roboto+Mono:wght@300;400;500;600;700&display=swap");
/*HEADER*/
.header {
  display: flex;
  background-color: #2f3e46;
  height: 10vh;
  align-items: center;
  justify-content: left;
  padding-left: 150px; }
  .header .header__title {
    color: #84a98c;
    font-family: 'Bangers', cursive;
    font-size: 4vh; }

/*FOOTER*/
.footer {
  background-color: #2f3e46;
  height: 100px;
  position: absolute;
  width: 100%;
  bottom: 0; }
  .footer .footer__copyright {
    color: #84a98c;
    display: flex;
    justify-content: center; }
  .footer .footer__contact {
    color: #84a98c;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    justify-content: right; }
  .footer .footer__sizeinfo {
    color: #84a98c;
    display: flex;
    align-items: flex-end;
    justify-content: right; }
  .footer .footer__social {
    display: inline-block;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px; }
    .footer .footer__social:hover {
      transform: scale(1.2); }

/*NAV*/
.nav {
  background-color: #2f3e46;
  height: 50px;
  padding-bottom: 5px;
  padding-left: 35%;
  position: sticky;
  top: 0%;
  z-index: 2; }
  .nav .nav__links {
    list-style: none;
    display: inline-block;
    padding-left: 25px;
    padding-top: 15px; }
  .nav .nav__item {
    display: inline-block; }
  .nav .nav__link {
    text-decoration: none; }
  .nav .nav__link--active {
    color: #84a98c;
    border-bottom: 2px solid #84a98c; }
  .nav .nav__search {
    display: inline-block;
    margin-left: 25px; }
  .nav .nav__input {
    height: 25px;
    width: 25px;
    border-radius: 15px;
    transition: all 2s; }
  .nav .nav__input:focus {
    width: 250px; }

/*PARALLAX*/
.parallas, .main, .texto {
  margin: 0 auto; }

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 55rem;
  max-width: 100%;
  position: relative; }
  .parallax .texto-interior {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    left: 10%;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 80%; }

.img-uno {
  background-image: url(../images/pexels-jordan-hyde-1032110.jpg); }

.img-dos {
  background-image: url(../images/pexels-mnz-1598505.jpg); }

.img-tres {
  background-image: url(../images/pexels-ray-piedra-1478442.jpg); }

.texto {
  padding: 5%;
  width: 90%; }

/*MAIN*/
.card {
  background-color: #2f3e46;
  height: 300px;
  width: 200px;
  border: solid 5px #354f52;
  border-radius: 20px;
  margin-top: 15px;
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 15px;
  transition: all 2s; }

.card--relative {
  position: relative;
  z-index: 1; }

.card__header {
  background-color: #52796f;
  text-align: center;
  border-radius: 50px; }

.card__body {
  margin-top: 20px; }

.card__image {
  width: 100%;
  height: auto; }

.card--scale:hover {
  transform: scale(1.5); }

.card__text {
  text-align: center;
  color: #84a98c; }

.card__title {
  color: #2f3e46;
  text-align: center; }

.main__iframe {
  display: flex;
  justify-content: center;
  align-items: center; }

.iframe--animation {
  animation-name: animacion;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-delay: 1s; }

.table--animation {
  animation-name: size;
  animation-timing-function: ease;
  animation-duration: 4s;
  animation-delay: 1s; }

@keyframes animacion {
  0% {
    width: 250px; }
  15% {
    width: 280px; }
  25% {
    width: 310px; }
  35% {
    width: 330px; }
  45% {
    width: 360px; }
  55% {
    width: 390px; }
  65% {
    width: 410px; }
  75% {
    width: 440px; }
  85% {
    width: 470px; }
  95% {
    width: 500px; }
  100% {
    width: 530px; } }

@keyframes size {
  0% {
    width: 0vh; }
  10% {
    width: 25vh; }
  20% {
    width: 50vh; }
  35% {
    width: 75vh; }
  50% {
    width: 100vh; }
  65% {
    width: 125vh; }
  75% {
    width: 150vh; }
  90% {
    width: 175vh; }
  100% {
    width: 200vh; } }

.main__table {
  border: solid;
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  margin-left: 80vh;
  margin-top: 30vh; }

@media screen and (max-width: 1200px) {
  .nav {
    height: 12vh; }
  .nav__links {
    flex-direction: row-reverse;
    list-style: none;
    align-items: center;
    justify-content: center; }
  .nav__items {
    margin-top: 5px; }
  .main__iframe {
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: end; }
  .footer {
    background-color: #2f3e46;
    height: 10vh; }
  .footer__copyright {
    color: #84a98c;
    display: flex;
    align-items: center;
    justify-content: center; }
  .footer__contact {
    color: #84a98c;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    justify-content: right; }
  .footer__sizeinfo {
    color: #84a98c;
    display: flex;
    align-items: flex-end;
    justify-content: right; } }

@media screen and (max-width: 600px) {
  .nav {
    height: 45vh; }
  .nav__links {
    flex-direction: row-reverse;
    list-style: none;
    align-items: center;
    justify-content: center; }
  .nav__items {
    margin-top: 5px; }
  .main__iframe {
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: end; }
  .footer {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .grid {
    display: grid;
    height: 75vh;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 55px; }
  .grid img {
    width: 100%;
    object-fit: cover; } }

@media screen and (max-width: 320px) {
  .nav {
    height: 50vh; }
  .nav__links {
    flex-direction: column;
    list-style: none;
    align-items: center; }
  .nav__items {
    margin-top: 5px; }
  .main__iframe {
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: end; }
  .footer {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
  .grid {
    display: grid;
    height: 75vh;
    width: 80%;
    grid-template-columns: 1fr;
    grid-gap: 55px; }
  .grid img {
    width: 100%;
    object-fit: cover; } }

/*GRID*/
.grid {
  display: grid;
  height: 75vh;
  width: 80%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 55px; }

.grid img {
  width: 100%;
  object-fit: cover; }

/*GENERALES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Bangers', cursive;
  font-family: 'Roboto Mono', monospace;
  background-color: #cad2c5; }

a {
  text-decoration: none;
  color: #84a98c; }

a:visited {
  color: #84a98c; }

.icon-social, .btn--facebook:hover, .btn--twitter:hover, .btn--instagram:hover {
  padding: 0.5rem; }

:hover.btn--facebook {
  background-color: #3a5795; }

:hover.btn--twitter {
  background-color: #00acee; }

:hover.btn--instagram {
  background-color: #F77737; }

.header {
  display: flex;
  background-color: #2f3e46;
  height: 10vh;
  align-items: center;
  justify-content: left;
  padding-left: 150px; }

.body {
  position: relative;
  padding-bottom: 100; }
