/*FOOTER*/
.footer{
    background-color: #2f3e46;
    height: 100px;
    position: absolute;
    width: 100%;
    bottom: 0;
    .footer__copyright{
        color: #84a98c;
        display: flex;
        justify-content: center;
    }
    .footer__contact{
        color: #84a98c;
        text-decoration: none;
        display: flex;
        align-items: flex-end;
        justify-content: right;
        margin-right: 25px;
    }
    .footer__sizeinfo{
        color: #84a98c;
        display: flex;
        align-items:flex-end;
        justify-content: right;
        margin-right: 25px;
    }
    .footer__social {
        display: inline-block;
        justify-content: left;
        flex-direction: column;
        align-items: flex-start;
        padding: 5px;
        margin-left: 15px;
        &:hover{
            transform: scale(1.2);
        }
    }
}