/*GENERALES*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bangers', cursive;
    font-family: 'Roboto Mono', monospace;
    background-color: #cad2c5;
}
a{
    text-decoration: none;
    color: #84a98c;
}
a:visited{
    color: #84a98c;
}
:hover.btn--instagram{
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
//map
$redes: (
    facebook: #3a5795,
    twitter: #00acee,
);
@each $red, $color in $redes {
    &:hover.btn--#{$red} {
        background-color: $color;
    }
}
//mixins
@mixin header($display,$color,$height,$aling-items,$justify-content,$padding-left){
    display: $display;
    background-color: $color;
    height: $height;
    align-items: $aling-items;
    justify-content: $justify-content;
    padding-left: $padding-left;
}
.header{
    @include header(flex,#2f3e46,10vh,center,left,150px)
}