@import "_variables";
/*GRID*/
.grid{
    display: grid;
    height: 75vh;
    width: 80%;
    grid-template-columns: 30vh 30vh 30vh 30vh;
    grid-gap: 55px;
    margin-left: 30vh;
    min-height: 120vh;  
}
.grid__box{
    border: 1px none $color3;
    transition: all 0.5s;
}
.button{
    background-color: $color3;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    margin-left: 10vh;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.8s;
    color: $color5;
    font-size: 16px;
}
.box--transition:hover{
    width: 30vh;
    background-color: transparent;
    border: 2px solid $color5;
    border-radius: 25px;
    margin-top: 10px;
    .button--transition{
        transform: scale(1.2);
        border-radius: 0 0 10.5px 10.5px;
        background-color: $color5;
        color: $color3;
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 2vh;
    }
    .grid__title{
        border-radius: 25px;
        background-color: $color5;
        color: $color3;
    }
    .grid__text{
        font-size: 0.9rem;
        text-align: center;
    }
}
.grid img{
    width: 100%;
    object-fit: cover;
}
.grid__label{
    font-size: 1.1rem;
    margin-left: 10vh;
    color: $color3;
    font-weight: bold;
}
.grid__select{
    background-color: $color1;
    color: $color3;
    border: none;
    font-size: 1rem;
    font-weight: bold;
}
.grid__option{
    background-color: $color3;
    color: $color1;
}
.grid--relative{
    position: relative;
    z-index: 1;
}
.grid__body{
    margin-top: 20px;
}
.grid--scale:hover{
    transform: scale(1.2);
}
.grid__text{
    text-align: justify;
    color: $color4;
}
.grid__title{
    color: #2f3e46;
    text-align: center;
    background-color: $color3;
    margin-top: 15px;
}
.grid__iframe{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 43vh;
}
.iframe--animation{
    animation-name: animacion;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-delay: 1s;
}