@import "_variables";
/*GRID*/
.grid{
    display: grid;
    height: 75vh;
    width: 80%;
    grid-template-columns: 30vh 30vh 30vh 30vh;
    grid-gap: 55px;
    margin-left: 30vh;
}
.grid img{
    width: 100%;
    object-fit: cover;
}
.button{
    background-color: $color3;
    border: none;
    color: $color5;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 15vh;
    cursor: pointer;
}