@import "_variables";
/*MAIN*/
.table--animation{
    animation-name: size;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-delay: 1s;
}
@keyframes animacion {
    0% {
        width: 250px;
    }
    15% {
        width: 280px;
    }
    25% {
        width: 310px;
    }
    35% {
        width: 330px;
    }
    45% {
        width: 360px;
    }
    55% {
        width: 390px;
    }
    65% {
        width: 410px;
    }
    75% {
        width: 440px;
    }
    85% {
        width: 470px;
    }
    95% {
        width: 500px;
    }
    100% {
        width: 530px;
    }
}
@keyframes size {
    0% {
        width: 0vh;
    }
    10% {
        width: 25vh;
    }
    20% {
        width: 50vh;
    }
    35% {
        width: 75vh;
    }
    50% {
        width: 100vh;
    }
    65% {
        width: 125vh;
    }
    75% {
        width: 150vh;
    }
    90% {
        width: 175vh;
    }
    100% {
        width: 200vh;
    }
}
.main__table{
    border: solid;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    margin-left: 80vh;
    margin-top: 30vh;
}
.btn {
    background-color: $color3;
    border-color: $color3;
    margin-bottom: 10px;
}
.form-check-input{
    background-color: $color3;
}