/*PARALLAX*/
.parallas, .main, .texto
    {margin:0 auto}

.parallax{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height:55rem;
	max-width: 100%;
	position: relative;
    .texto-interior{
        color:#fff;
        font-size: 2.5rem;
        font-weight: bold;
        left: 10%;
        position: absolute;
        text-align: center;
        top:40%;
        width: 80%
    }
}
        
.img-uno{background-image: url(../images/pexels-jordan-hyde-1032110.jpg)}
    
.img-dos{background-image:url(../images/pexels-mnz-1598505.jpg)}

.img-tres{background-image:url(../images/pexels-ray-piedra-1478442.jpg)}

.texto{
    padding:5%;
    width: 90%;
    font-size: 1.5rem;
}
