@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
@import "_header";
@import "_footer";
@import "_nav";
@import "_parallax";
@import "_main";
@import "_mediaqueries";
@import "_grid";
@import "_generales";
@import "_body";
@import "_variables";
@media all and (min-width: 1024px) and (max-width: 1280px){
    .nav {
        height: 12vh;
    }    
    .nav__links {
        flex-direction:row-reverse;
        list-style: none;
        align-items: center;
        justify-content: center;
    }
    .nav__items{
        margin-top: 5px;
    }
    .main__iframe{
        flex-direction:column-reverse;
        align-items:flex-end;
        justify-content:end;
    }
    .footer{
        background-color: #2f3e46;
        height: 10vh;
    }
    .footer__copyright{
        color: #84a98c;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer__contact{
        color: #84a98c;
        text-decoration: none;
        display: flex;
        align-items: flex-end;
        justify-content: right;
    }
    .footer__sizeinfo{
        color: #84a98c;
        display: flex;
        align-items:flex-end;
        justify-content: right;
    }
}
@media all and (min-width: 768px) and (max-width: 1024px){
    .nav {
        height: 10vh;
        padding: 0;
        position: relative;
    }    
    .nav__links {
        flex-direction: column-reverse;
        list-style: none;
        align-items: flex-start;
        justify-content: center;
    }
    .nav__items{
        margin-top: 5px;
    }
    .main__iframe{
        flex-direction:column-reverse;
        align-items:flex-end;
        justify-content:end;
    }
    .footer {
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }
    .grid{
        display: grid;
        height: 75vh;
        width: 80%;
        grid-template-columns: 35vh 35vh;
        grid-gap: 55px;
    }
    .grid img{
        width: 100%;
        object-fit: cover;
    }
}
@media all and (min-width: 480px) and (max-width: 768px){
    .nav {
        height: 50vh;
    }    
    .nav__links {
        flex-direction:column;
        list-style: none;
        align-items: center;
        
    }
    .nav__items{
        margin-top: 5px;
    }
    .main__iframe{
        flex-direction:column-reverse;
        align-items:flex-end;
        justify-content:end;
    }
    .grid{
        display: grid;
        height: 75vh;
        width: 80%;
        grid-template-columns: 1fr;
        grid-gap: 55px;
    }
    .grid img{
        width: 100%;
        object-fit: cover;
    }
}
@media all and (max-width: 480px){

}