@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
@import "_variables";
@import "_body";
@import "_header";
@import "_nav";
@import "_parallax";
@import "_main";
@import "_grid";
@import "_generales";
@import "_footer";
@media all and (min-width: 1024px) and (max-width: 1280px){
    .body{
        min-height: 150vh;
    }
    .nav {
        height: 10vh;
    }    
    .nav__links {
        display: flex;
        flex-direction:row-reverse;
        list-style: none;
        align-items: center;
        justify-content: center;
    }
    .nav__items{
        margin-top: 5px;
    }
    .grid{
        min-height: 200vh;
        .button{
            margin-left: 7vh;
        }
        .grid__label{
            margin-left: 0.5vh;
        }
    }
    .grid__iframe{
        display: flex;
        flex-direction:column-reverse;
        align-items:flex-end;
        justify-content:end;
    }
    .footer{
        background-color: #2f3e46;
        height: 20vh;
    }
    .footer__copyright{
        color: #84a98c;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer__contact{
        color: #84a98c;
        text-decoration: none;
        display: flex;
        align-items: flex-end;
        justify-content: right;
    }
    .footer__sizeinfo{
        color: #84a98c;
        display: flex;
        align-items:flex-end;
        justify-content: right;
    }
}
@media all and (min-width: 768px) and (max-width: 1024px){
    .body{
        min-height: 220vh;
    }
    .nav {
        height: 10vh;
        padding: 0;
        position: relative;
        .nav__links {
            flex-direction: column-reverse;
            list-style: none;
            align-items: flex-start;
            justify-content: center;
        }
        .nav__items{
            margin-top: 5px;
        }
        .nav__input:focus{
            width: 150px;
        }
    }
    .texto{
        font-size: 1rem;
    }
    .parallax{
        .texto-interior{
            font-size: 1.5rem;
        }
    }    
    .grid__iframe{
        flex-direction:column-reverse;
        align-items:flex-end;
        justify-content:end;
    }
    .grid{
        display: grid;
        grid-template-columns: 35vh 35vh;
        grid-gap: 15vh;
        min-height: 290vh;
        margin-left: 5vh;
        .grid img{
            width: 100%;
            object-fit: cover;
        }
        .button{
            margin-left: 7vh;
        }
        .grid__label{
            margin-left: 0.5vh;
        }
    }
    .footer {
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}
@media all and (min-width: 480px) and (max-width: 768px){
    .nav {
        height: 40vh;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0%;
        padding-left: 0%;        
        .nav__links {
            flex-direction:column;
            list-style: none;
            align-items: center;        
        }
        .nav__items{
            margin-top: 5px;
        }
        .nav__search{
            margin-top: 10px;
        }
    }    
    .grid{
        display: grid;
        height: 75vh;
        grid-template-columns: 25vh 25vh;
        grid-gap: 15vh;
        min-height: 250vh;
        margin-left: 25vh;
        .grid img{
            width: 100%;
            object-fit: cover;
        }
        .grid__iframe{
            margin-bottom: 25vh;
            width: 380px;
            height: 180px;
            margin-left: 15vh;
        }
        .iframe--animation{
            animation: none;
        }
        .button{
            margin-left: 7vh;
        }
        .grid__label{
            margin-left: 0.5vh;
        }
    }
    .parallax{
        .texto-interior{
            font-size: 1.5rem;
        }
    }
    .texto {
        font-size: 1rem;
    }
    .footer {
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}
@media all and (max-width: 480px){
    .header{
        padding-left: 0;
        justify-content: center;
    }
    .nav {
        height: 40vh;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-left: 0;
        .nav__links {
            list-style: none;        
        }
        .nav__items{
            margin-top: 5px;
        }
        .nav__input:focus{
            width: 150px;
        }
    }
    .grid{
        display: grid;
        grid-template-columns: 25vh;
        grid-gap: 15vh;
        min-height: 505vh;
        margin-left: 10vh;
        padding-left: 5vh;
        .grid img{
            width: 100%;
            object-fit: cover;
        }
        .grid__iframe{
            margin-bottom: 35vh;
            width: 250px;
            height: 180px;
            margin-left: -10vh;
        }
        .iframe--animation{
            animation: none;
        }
        .grid__label{
            margin-left: 0.5vh;
        }
        .button{
            margin-left: 7vh;
        }
    }
    .parallax{
        .texto-interior{
            font-size: 1rem;
        }
    }
    .texto {
        font-size: 1rem;
    }
    .footer {
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}