@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
@import "_header";
@import "_footer";
@import "_nav";
@import "_parallax";
@import "_main";
@import "_mediaqueries";
@import "_grid";
@import "_generales";
@import "_body";
@import "_variables";
@media all and (min-width: 1024px) and (max-width: 1280px){
    .nav {
        height: 12vh;
    }    
    .nav__links {
        flex-direction:row-reverse;
        list-style: none;
        align-items: center;
        justify-content: center;
    }
    .nav__items{
        margin-top: 5px;
    }
    .main__iframe{
        flex-direction:column-reverse;
        align-items:flex-end;
        justify-content:end;
    }
    .footer{
        background-color: #2f3e46;
        height: 10vh;
    }
    .footer__copyright{
        color: #84a98c;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer__contact{
        color: #84a98c;
        text-decoration: none;
        display: flex;
        align-items: flex-end;
        justify-content: right;
    }
    .footer__sizeinfo{
        color: #84a98c;
        display: flex;
        align-items:flex-end;
        justify-content: right;
    }
}
@media all and (min-width: 768px) and (max-width: 1024px){
    .nav {
        height: 10vh;
        padding: 0;
        position: relative;
        .nav__links {
            flex-direction: column-reverse;
            list-style: none;
            align-items: flex-start;
            justify-content: center;
        }
        .nav__items{
            margin-top: 5px;
        }
    }    
    .main__iframe{
        flex-direction:column-reverse;
        align-items:flex-end;
        justify-content:end;
    }
    .grid{
        display: grid;
        grid-template-columns: 35vh 35vh;
        grid-gap: 15vh;
        min-height: 170vh;
        .grid img{
            width: 100%;
            object-fit: cover;
        }
    }
    .footer {
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}
@media all and (min-width: 480px) and (max-width: 768px){
    .nav {
        height: 15vh;
        padding: 0;
        position: relative;
        .nav__links {
            flex-direction:column;
            list-style: none;
            align-items: center;        
        }
        .nav__items{
            margin-top: 5px;
        }
    }    
    .grid{
        display: grid;
        height: 75vh;
        grid-template-columns: 25vh 25vh;
        grid-gap: 15vh;
        min-height: 200vh;
        .grid img{
            width: 100%;
            object-fit: cover;
        }
        .main__iframe{
            flex-direction: column;
            align-items:flex-start;
            justify-content:start;
        }
    }
    .parallax{
        .texto-interior{
            font-size: 1.5rem;
        }
    }
    .texto {
        font-size: 1rem;
    }
}
@media all and (max-width: 480px){
    .nav {
        height: 15vh;
        display: flex;
        align-items: stretch;
        justify-content: left;
        .nav__links {
            list-style: none;        
        }
        .nav__items{
            margin-top: 5px;
        }
        .nav__input:focus{
            width: 150px;
        }
    }
    .main__iframe{
        flex-direction:column-reverse;
        align-items:flex-start;
        justify-content:stretch;
    }
    .grid{
        display: grid;
        margin-left: 15px;
        grid-template-columns: 25vh 25vh;
        grid-gap: 15vh;
        min-height: 200vh;
        .grid img{
            width: 100%;
            object-fit: cover;
        }
    }
    .parallax{
        .texto-interior{
            font-size: 1rem;
        }
    }
    .texto {
        font-size: 1rem;
    }
}