@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
@import "_header";
@import "_footer";
@import "_nav";
@import "_parallax";
@import "_main";
@import "_mediaqueries";
@import "_grid";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bangers', cursive;
    font-family: 'Roboto Mono', monospace;
    background-color: #cad2c5;
}
a{
    text-decoration: none;
    color: #84a98c;
}
a:visited{
    color: #84a98c;
}
